

*
!.gitignore
!README
!Makefile
!*.h
!*.c
!*.cpp


!/consumer/
!/consumer/Makefile
!/consumer/*.h
!/consumer/*.c
!/consumer/*.cpp
!/consumer/*.ui
!/consumer/util/


!/publisher/
!/publisher/Makefile
!/publisher/*.h
!/publisher/*.cpp
!/publisher/util/

/publisher/out.264
/publisher/out.mp4
