

*
!.gitignore
!README
!Makefile
!*.h
!*.c
!*.cpp


!/consumer/
!/consumer/Makefile
!/consumer/*.h
!/consumer/*.hpp
!/consumer/*.c
!/consumer/*.cpp
!/consumer/*.ui
!/consumer/util/
!/consumer/ffmpeg/
!/consumer/ffmpeg/include/
!/consumer/ffmpeg/include/libavcodec/
!/consumer/ffmpeg/include/libavutil/
!/consumer/ffmpeg/include/libpostproc/
!/consumer/ffmpeg/include/libswscale/


!/publisher/
!/publisher/Makefile
!/publisher/*.h
!/publisher/*.cpp
!/publisher/util/
/publisher/out.264
/publisher/out.mp4
